%section#chapter
  %h1 About

  %p
    Vic Ramon is a software developer and consultant at
    = link_to 'Hashrocket', 'http://www.hashrocket.com'
    in the lovely Jacksonville Beach, Florida. He has worked with Ember on a daily basis
    for quite some time now, both on client projects and personal projects. He thinks it's pretty cool, I guess. He wrote this tutorial after all.

  %p
    When he's not hacking on Ember or Ruby, Vic likes to get outside, enjoy the great outdoors, and ocassionaly participate in board sports. After which he promptly returns to his computer.

  %h1 Find Me Online

  %article#social_buttons

    = link_to 'http://twitter.com/vicramon' do
      = image_tag 'icons/twitter.png'

    = link_to 'http://github.com/vicramon' do
      = image_tag 'icons/github.png'
