%section#marketing
  %article
    .logo
      = image_tag 'big_logo.png'

    %h1 Introduction
    %p
      Welcome. This tutorial provides an introduction to the Ember JS framework by showing you how to build an Ember app with a Ruby on Rails backend, while explaining all the underlying concepts and conventions along the way.
    %p
      I hope this tutorial is clear, concise, and easy to follow. Please send any questions or feedback to #{mail_to 'vic@vicramon.com'}.

    %article#chapters
      %h1 Chapters

      = link_to "Chapter 1: Introduction", chapter_path('introduction')
      = link_to "Chapter 2: Concepts", chapter_path('concepts')
      = link_to "Chapter 3: Views", chapter_path('views')
      = link_to "Chapter 4: Controllers", chapter_path('controller')
