%section#marketing
  %article
    .logo
      = image_tag 'big_logo.png'

    %h1 Introduction
    %p
      Ember is a front-end javascript framework. The benefits of using using a front-end framework are similar to that of using a back-end framework: you get an organized structure, conventions, and built-in ways to do the things most apps need.

    %p
      Like Angular, Backbone, Knockout, and others, Ember arrived on the scene recently to help developers build great front-end applications while maintaining a clean code base.

    %p
      This tutorial shows you how to set up a working Ember app in a step-by-step fashion, explaining all the underlying concepts and conventions along the way.

    %h1 Chapters

    %article#chapters
      = link_to "Chapter 1: Introduction", chapter_path('introduction')
      = link_to "Chapter 2: Concepts", chapter_path('concepts')
      = link_to "Chapter 3: Views", chapter_path('views')
      = link_to "Chapter 4: Controllers", chapter_path('controller')
