%section#marketing
  %article
    .logo
      = image_tag 'big_logo.png'

    = image_tag 'fun/chipmunk_vader.jpg'

    %h1 Introduction
    %p
      Welcome. This tutorial provides an introduction to the Ember JS framework. It shows you how to build an Ember app with a Ruby on Rails backend while explaining all the underlying concepts along the way.
    %p
      Give it a spin, and please send your questions or feedback to #{mail_to 'vic@vicramon.com'} or
      tweet #{link_to "@vicramon", 'http://twitter.com/vicramon'}, if you're into that kind of thing.
    %p
      There's a reason that I'm showing Darth Vader riding a Hamster. It's related to Ember, and you'll find out
      why only if you read on...

    %article#chapters
      %h1 Chapters

      = render 'chapters'
